<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :start_at %><br>
    <div class="input-group input-append date" id="datepicker">
      <span class="add-on input-group-addon">
        <i class="fa fa-clock-o fa-fw" data-time-icon="fa fa-clock-o fa-fw" data-date-icon="fa fa-calendar fa-fw"></i>
      </span>
      <%= f.text_field :start_at, :as => :string, "data-format" => "yyyy/MM/dd hh:mm:ss", class: "form-control" %>      
    </div>
  </div>

  <%= button_tag(type: 'submit', class: "btn btn-default") do %>
    <i class="fa fa-fw fa-save"></i> Save
  <% end %>
<% end %>

<script type="text/javascript">
  $(function() {
    $('#datepicker').datetimepicker({
      language: 'ru'
    });
  });
</script>