<li class="list-group-item">
  <%= link_to game do %>
    <%= game.id %>
  <% end %>
  <%= link_to game, method: :delete, data: { confirm: 'Are you sure?' }, class: "pull-right" do %>
    <i class="fa fa-fw fa-remove"></i>
  <% end %>
  <%= link_to edit_game_path(game), class: "pull-right" do %>
    <i class="fa fa-fw fa-edit"></i>
  <% end %>
  <%= link_to game, class: "pull-right" do %>
    <i class="fa fa-fw fa-eye"></i>
  <% end %>
</li>