<%= form_for(@subscription) do |f| %>
  <% if @subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
      <% @subscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-eye fa-fw"></i> Статистика игры</h3>
    </div>
    <div class="panel-body">

    <%= debug params %>

    <div class="field form-group">
      <% if params[:crew_id] %>
        <%= f.label :player_id %> 
        <%= f.select(:player_id, options_from_collection_for_select(@players, "id", "name"), {}, {class: "form-control"}) %>
      <% else %>
        <%= f.label :crew_id %> 
        <%= f.select(:crew_id, options_from_collection_for_select(@crews, "id", "name"), {}, {class: "form-control"}) %>
      <% end %>
    </div>

    <%= button_tag(type: 'submit', class: "btn btn-default") do %>
      <% if params[:crew_id] %>
        <%= f.hidden_field :crew_id, value: params[:crew_id] %>        
      <% end %>

      <% if params[:player_id] %>
        <%= f.hidden_field :player_id, value: params[:player_id] %>
      <% end %>

      <% if params[:game_id] %>
        <%= f.hidden_field :game_id, value: params[:game_id] %>
      <% end %>

      <% if params[:id] && params[:id].split(',').length == 2 %>      
        <%= f.hidden_field :player_id, value: params[:id].split(',')[1] %>
        <%= f.hidden_field :game_id, value: params[:id].split(',')[0] %>
      <% end %>
      <i class="fa fa-fw fa-save"></i> Save
    <% end %>

    </div>
  </div>

<% end %>