<li class="list-group-item">
  <%= link_to player do %>
    <%= player.name %>
  <% end %>
  <%= link_to player, method: :delete, data: { confirm: 'Are you sure?' }, class: "pull-right" do %>
    <i class="fa fa-fw fa-remove"></i>
  <% end %>
  <%= link_to edit_player_path(player), class: "pull-right" do %>
    <i class="fa fa-fw fa-edit"></i>
  <% end %>
  <%= link_to player, class: "pull-right" do %>
    <i class="fa fa-fw fa-eye"></i>
  <% end %>
</li>