<div class="top-bar navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="row">
			<div class="col-md-2 logo">
			<!--	LDashboard	-->
			</div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-9">
						<div class="top-bar-right pull-right">
							<div class="notifications">
								<ul>
									<li class="notification-item inbox">
										<div class="btn-group">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
												<i class="fa fa-envelope"></i><span class="count">2</span>
												<span class="circle"></span>
											</a>											
										</div>
									</li>
									<li class="notification-item general">
										<div class="btn-group">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
												<i class="fa fa-bell"></i><span class="count">8</span>
												<span class="circle"></span>
											</a>
										</div>
									</li>
									<% if user_signed_in? %>


									<li class="notification-item dropdown">
					                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-user"></i> <%= current_user.email %> <b class="caret"></b></a>
					                    <ul class="dropdown-menu">
					                        <li>
					                            <%= link_to destroy_user_session_path, :method => :delete do %>
													<i class="fa fa-fw fa-power-off"></i> Выйти
												<% end %>
					                        </li>
					                    </ul>
					                </li>

									<% else %>
										<li class="notification-item">
									    	<%= link_to new_user_session_path do %>
												<i class="fa fa-user"></i> Войти
											<% end %>
										</li>
									<% end %>									
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- sidebar sb admin -->

	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav side-nav">
			<li class="active">
				<%= link_to dashboard_path do %>
					<i class="fa fa-fw fa-dashboard"></i> Dashboard
				<% end %>
			</li>
			<li>
				<%= link_to players_path do %>
					<i class="fa fa-male fa-fw"></i> Игроки
				<% end %>
			</li>			
			<li>
				<%= link_to crews_path do %>
					<i class="fa fa-flag fa-fw"></i> Команды
				<% end %>
			</li>
			<li>
				<%= link_to games_path do %>
					<i class="fa fa-gamepad fa-fw"></i> Игры
				<% end %>
			</li>
		</ul>
	</div>

</div>